<plist version="1.0">
<dict>
<key>CLIENT_ID</key>
<string>877360246883-i2dl0i0k390h4a4imm0jphjpn59jtfti.apps.googleusercontent.com</string>
<key>REVERSED_CLIENT_ID</key>
<string>com.googleusercontent.apps.877360246883-i2dl0i0k390h4a4imm0jphjpn59jtfti</string>
<key>ANDROID_CLIENT_ID</key>
<string>877360246883-1gutkjbc66qtp53tm9v4ap7278j658tq.apps.googleusercontent.com</string>
<key>API_KEY</key>
<string>AIzaSyAQM5ORmwZIgfLCm6QYPp1BLpU6kmIg90A</string>
<key>GCM_SENDER_ID</key>
<string>877360246883</string>
<key>PLIST_VERSION</key>
<string>1</string>
<key>BUNDLE_ID</key>
<string>com.beguile.app</string>
<key>PROJECT_ID</key>
<string>beguile-ai</string>
<key>STORAGE_BUCKET</key>
<string>beguile-ai.firebasestorage.app</string>
<key>IS_ADS_ENABLED</key>
<false/>
<key>IS_ANALYTICS_ENABLED</key>
<false/>
<key>IS_APPINVITE_ENABLED</key>
<true/>
<key>IS_GCM_ENABLED</key>
<true/>
<key>IS_SIGNIN_ENABLED</key>
<true/>
<key>GOOGLE_APP_ID</key>
<string>1:877360246883:ios:0c4823e613efcf02ab4856</string>
</dict>
</plist>
